/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */



#recherche{
	-fx-background-image: url("https://cdn.shopify.com/s/files/1/0431/4909/9167/products/GC-158-480475126_1024x1024.jpg?v=1595830152");
	-fx-background-repeat: stretch;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

#menu{
	-fx-alignment:center;
	/*-fx-padding:10;*/
}
#scroll{
	-fx-background-image: url("https://cdn.shopify.com/s/files/1/0431/4909/9167/products/GC-158-480475126_1024x1024.jpg?v=1595830152");
	-fx-background-repeat: stretch;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}
 
.scroll-bar {
	-fx-padding:0;
	-fx-background-color: transparent;
	-fx-control-inner-background: transparent;
   -fx-background-color: transparent;
 
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
 
 
.scroll-bar:vertical .track {
 
    -fx-border-color:transparent transparent transparent #1D1D1D;
    -fx-background-color: linear-gradient(from 100% 0% to 0% 0%, #323232 0%, #212121 100%);
 
}


 
.scroll-bar:vertical .thumb {
 
 -fx-background-color: linear-gradient(from 100% 0% to 0% 0%, #404040 0%, #585858 100%);
 -fx-effect: dropshadow(one-pass-box,#000000,2.0,0.7,0.0,0.0); 
 -fx-background-insets: 3 3 3 3;                 
 -fx-background-radius: 2em;
 
}


.choice-box .context-menu {
    -fx-pref-height: 250; /* détermine la hauteur du menu déroulant des choicebox */
}


/*
#recherche_profil{
	-fx-background-image: url("images/premier_profil.jpg");
	-fx-background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSunclpgdOA6_JaiQaYBSR60vw5OXdhDlJ21Q&usqp=CAU");
	-fx-background-repeat: stretch;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
} */